* {
    margin: 0;
    padding: 0;
}
.backgroundForTimer{
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-container {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
